.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  list-style-type: none;
  opacity: 1.0;
  transition: opacity 1s linear 1s;
}
  
.footer__column-link:hover {
  opacity: .4;
}
  