.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  border: none;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  background-size: cover;
}